---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import myImage from "../assets/fakeproject.jpg";
import ProjectCard from "@/components/ProjectCard.astro";
---

<Layout title="Hello There!">
  <main class="flex flex-col text-white p-20 pt-10">
    <nav class="max-w-xl mx-auto">
      <ul class="flex gap-16">
        <li class="group relative w-max">
          <a href="#" class="px-1 relative z-10 group-hover:text-white">HOME</a>
          <span
            class="absolute left-0 bottom-0 w-full h-0.5 transition-all bg-yellow-400 z-0 group-hover:h-full"
          ></span>
        </li>
        <li class="group relative w-max">
          <a href="#projects" class="px-1 relative z-10 group-hover:text-white"
            >PROYECTS</a
          >
          <span
            class="absolute left-0 bottom-0 w-full h-0.5 transition-all bg-yellow-400 z-0 group-hover:h-full"
          ></span>
        </li>
        <li class="group relative w-max">
          <a href="#" class="px-1 relative z-10 group-hover:text-white"
            >CONTACT</a
          >
          <span
            class="absolute left-0 bottom-0 w-full h-0.5 transition-all bg-yellow-400 z-0 group-hover:h-full"
          ></span>
        </li>
        <li class="group relative w-max">
          <a href="#" class="px-1 relative z-10 group-hover:text-white"
            >RESUME</a
          >
          <span
            class="absolute left-0 bottom-0 w-full h-0.5 transition-all bg-yellow-400 z-0 group-hover:h-full"
          ></span>
        </li>
      </ul>
    </nav>
    <section class="h-screen flex flex-col justify-center">
      <header class="flex flex-col md:flex-row md:justify-around">
        <div>
          <span class="text-white ml-2"
            >If you've made it this far , you're probably looking for a...</span
          >
          <h1 class="font-bold text-7xl text-yellow-400">
            Software Developer 🗲
          </h1>
        </div>
        <article class="mt-10">
          <p class="text-lg max-w-prose mx-auto">
            My name is Martin, and I specialize in creating dynamic,
            user-friendly web applications using technologies like React,
            JavaScript, and TypeScript. With over five years of experience in
            the field, I am committed to delivering high-quality solutions that
            meet and exceed client expectations.
          </p>
          <button class="bg-yellow-400 rounded text-black font-bold p-2 mt-10"
            >Take a look to my proyects</button
          >
        </article>
      </header>
    </section>

    <!-- ############### proyects and skills -->

    <section class="h-screen flex flex-col" id="projects">
      <h2 class="text-4xl text-yellow-400 mb-8">Proyects and tech</h2>
      <div class="grid grid-cols-2">
        <div class="grid grid-cols-2 gap-4">
          <ProjectCard title="Fake Project" image={myImage} />
          <ProjectCard title="Fake Project" image={myImage} />
          <ProjectCard title="Fake Project" image={myImage} />
          <ProjectCard title="Fake Project" image={myImage} />
        </div>
      </div>
    </section>
  </main></Layout
>
